.links a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}
.links a:hover{
    color: blue;
    text-decoration: none;
}
.list-group-item a{
    text-decoration: none;
    font-size: .91rem;
}

.backbutton{
    height: 10%;
    margin-top: 2rem;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
}

.tbodyoftable th{
    background-color: rgb(9, 9, 9);
    color: white;
}

/* .homeimgdiv {
    display: flex;
    justify-content: center;
    align-items: center;

} */
.homeimgdiv{
    height:30rem;
}
.homeimgdiv img{
    height: 35%;
    width: 60%;
    margin:5% auto;
}

.homeimgdiv{
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
}


